@tailwind base;
@tailwind components;

.next-button {
  @apply p-3 border border-gray-200 text-gray-200 uppercase tracking-widest text-xs transition-bg-color;
}

.next-button:hover {
  @apply bg-gray-700;
}

p {
  @apply mb-6;
}

a {
  @apply text-blue-400;
}

a:hover {
  @apply text-gray-100;
}

.transition-opacity {
  transition: opacity 0.25s ease-in-out;
}

.transition-color {
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.transition-bg-color {
  transition: background-color 0.25s ease-in-out;
}

@tailwind utilities;

html {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.video,
.gallery {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video.four-by-three {
  padding-bottom: 75%;
}

.video.wide {
  padding-bottom: 42.5%;
}

.square {
  padding-bottom: 100%;
}

.video.album {
  padding-bottom: 200%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gallery-control span {
  opacity: 0.25;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background: url("/gallery.png") no-repeat 0;
}

.gallery-control.prev span {
  left: -10px;
  transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.gallery-control.next span {
  right: -10px;
  background-position-x: -50px;
  transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out;
}

.gallery-control:hover span {
  opacity: 0.75;
}

.gallery-control.prev:hover span {
  left: 0;
}

.gallery-control.next:hover span {
  right: 0;
}

.lazyload-image,
.slide {
  background-image: url("/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
